<div class="container">
    <div class="jumbotron">
        <h1>B2B Unified Action Center</h1>      
        <p>Track and sync your Purchase Order. Deep dive and know Customer Order trends</p>
        <button type="button" class="btn btn-primary">Learn more >></button>
    </div>
    <div class="form-group">
        <div>
            <div class="row">
                <div class=" col-sm-3">
                    <label for="ordNo">PO Number:</label>
                    <input id="ordNo" class="form-control" [(ngModel)]="purchaseOrderNum"><br/><br/>
                </div>
            </div>
            <button type="button" class="btn btn-info" (click)="trackPurchaseOrder(purchaseOrderNum)">Track Order</button>
        </div>
        <br/><br/>
        <div *ngIf="purchaseOrder">
            <div class="row applicationStep">
                <div class="col-sm-2" [ngClass]="setStatusColor(1)">B2B Direct</div>
                <div class="col-sm-2" [ngClass]="setStatusColor(2)">B2B Service</div>
                <div class="col-sm-2" [ngClass]="setStatusColor(3)">GCMP</div>
                <div class="col-sm-2" [ngClass]="setStatusColor(4)">OFS</div>
                <div class="col-sm-2" [ngClass]="setStatusColor(5)">Shipping</div>     
            </div>
            <br/><br/>
            <div *ngIf="purchaseOrder.Status.FailureText">
                <button type="button" class="btn" (click)="repostPO(purchaseOrderNum)">Repost PO</button>
                <button type="button" class="btn" (click)="getAdditionalDetails()">Find Additional Details</button>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class=" col-sm-2">
                    <div class="alert alert-success" *ngIf="poReposted">PO {{purchaseOrder.PurchaseOrderNo}} Reposted</div>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-6">
                    <div class="alert alert-info" *ngIf="additionalDetails">
                        <div>PurchaseOrderNo: {{purchaseOrder.PurchaseOrderNo}}</div>
                        <div>OrderAmount: {{purchaseOrder.OrderAmount | currency}}</div>
                        <div>OrderDate: {{purchaseOrder.OrderDate}}</div>
                        <div>CustomerNo: {{purchaseOrder.CustomerNo}}</div>
                        <div>Status Details -</div>
                        <div style="text-indent:40px">LastUpdateTS: {{purchaseOrder.Status.LastUpdateTS}}</div>
                        <div style="text-indent:40px">ApplicationStep: {{purchaseOrder.Status.ApplicationStep}}</div>
                        <div style="text-indent:40px">ApplicationStatus: {{purchaseOrder.Status.ApplicationStatus}}</div>
                        <div *ngIf="purchaseOrder.Status.FailureText" style="text-indent:40px">FailureText: {{purchaseOrder.Status.FailureText}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
